.container {
    padding: 3% 3%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
    min-width: 100%;
    /* Set up proportionate scaling */
    width: 100%;
    height: 100%;
    /* Set up positioning */
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    background-color: #e1e1e1;
    font-family: sans-serif;
    overflow-y: scroll;
}

.container .form-group {
    margin-left: 7%;
    margin-right: 7%;
    background-color: #ffffff;
    margin-bottom: 0;
}

.container .form-group label {
    margin-left: 2%;
    margin-top: 2%;
    color: #2f516d;
}

.container .form-control {
    width: 36%;
    margin-left: 7%;
    margin-bottom: 3%;
}

.container .card {
    margin-right: 2%;
    border: 1px solid #e1e1e1 !important;
}

.container .card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

.container .card-body {
    background-color: #e1e1e1;
    padding: 3%;
}

.container .card-title {
    color: #2f516d;
}

.container .card-text {
    color: #899bb2;
}

.container .row {
    background-color: white;
    margin-left: 7%;
    margin-right: 7%;
}